@import url(//db.onlinewebfonts.com/c/c86f6e311c62f1ee74affa41d9c3686f?family=Streamster);
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";
body {
  font-family: "Press Start 2P", cursive;
}
.text-neonPink {
  color: #4c0b4c;
}
.hover\:text-neonPink:hover {
  color: #4c0b4c;
}

button {
  cursor: pointer;
}
/* src/assets/styles/global.css */
@layer utilities {
  @keyframes neon-pulse {
    0% {
      box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
    }
    50% {
      box-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    }
    100% {
      box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
    }
  }

  .neon-button {
    animation: neon-pulse 2s infinite;
  }

  .neon-text {
    font-family: "Audiowide", cursive;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
      0 0 40px #ff00ff;
  }

  .neon-text-purple {
    font-family: "Audiowide", cursive;
    text-shadow: 0 0 10px #a855f7, 0 0 20px #a855f7, 0 0 30px #a855f7,
      0 0 40px #a855f7;
  }

  .neon-text-cyan {
    font-family: "Audiowide", cursive;
    text-shadow: 0 0 10px #22d3ee, 0 0 20px #22d3ee, 0 0 30px #22d3ee,
      0 0 40px #22d3ee;
  }

  .neon-input {
    background: #1a1a1a;
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
    transition: box-shadow 0.3s ease;
  }

  .neon-input:focus {
    outline: none;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
  }

  .neon-button {
    background: #ff00ff;
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }

  .neon-button:hover {
    background: #e600e6;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
  }
  .bg-neon-gradient {
    background: linear-gradient(
      135deg,
      #0d0221 0%,
      #260b3a 20%,
      #6a1b9a 50%,
      #e91e63 80%,
      #ff3864 100%
    );
  }
}
